.button-container {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.info-button {
  top: 0;
  margin-right: 20px;
  padding: 10px;
  background: #444fa6;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 0.85em;
  color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.15s ease;
}

.info-button:hover {
  background: #7c85cf;
  box-shadow: 0 4px 8px rgba(50, 50, 93, 0.11), 0 1px 6px rgba(0, 0, 0, 0.08);
  position: relative;
  top: -2px;
}
