.project-card {
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.05),
    0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
  height: 42vh;
  width: 65vw;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 50px;
  position: relative;
  justify-content: flex-end;
}

.content-background {
  background: white;
  width: 45vw;
  /* position: absolute; */
  z-index: 2;
}
.project-content {
  width: 45vw;
  padding: 2em;
  padding-top: 3.5em;
  z-index: 2;
}

.description {
  min-height: 20vh;
}

.button-container {
  margin-top: 4vh;
}

.image {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  width: 40vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (max-width: 950px) {
  .project-card {
    height: auto;
    width: 99vw;
  }
  .content-background {
    width: 99vw;
  }

  .project-content {
    text-align: center;
    width: 99vw;
    padding: 2em;
  }

  .image {
    display: none;
  }
}

.demo-button {
  top: 0;
  margin-right: 20px;
  padding: 10px;
  background: #444fa6;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 0.85em;
  color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.15s ease;
}

.demo-button:hover {
  background: #7c85cf;
  box-shadow: 0 4px 8px rgba(50, 50, 93, 0.11), 0 1px 6px rgba(0, 0, 0, 0.08);
  position: relative;
  top: -2px;
}

.live-button {
  top: 0px;
  margin-right: 20px;
  padding: 10px;
  background: #e9eaf2;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  font-size: 0.85em;
  color: #444fa6;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.15s ease;
}

.live-button:hover {
  color: #7c85cf;
  background: #f2f3fa;
  box-shadow: 0 4px 8px rgba(50, 50, 93, 0.11), 0 1px 6px rgba(0, 0, 0, 0.08);
  position: relative;
  top: -2px;
}
