.card {
  background: white;
  border: 2px solid #6fb3d9;
  border-radius: 4px;
  /* padding: 5px 10px 5px 5px; */
  padding: 0.5em;
  margin-right: 1em;
  font-size: 0.85em;
  min-width: 0.2em;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
